*
{
  font-family: old-standard, Arial;
}
img
{
	width: 10%;;
}
input[type=text]{
	padding: 5px 10px;
	letter-spacing: 1px;
}

input[type=url]{
	width: 80%;
	border: 5px solid lightblue;
	padding: 5px 10px;
	letter-spacing: 1px;
}

h1{
  font-size: 1.8em;
  border-bottom: 1px solid gray;
}


h2{
	color: black;
}
h2 a{
	color: black;
	text-decoration: none;
}

.post{
	border: 2px solid gray;
	padding: 5px;
	border-radius: 3px;
	margin: 0.1% 2% 2% 2%;
}

.post-head span{
	font-size: 14px;
	color: gray;
	letter-spacing: 1px;
}

.post-content{
	font-size: 18px;
	color: black;
}
.post:hover{
	background: #e6e6e6;
}
/* **********************  grid system ******************************/
.grid
{
	display: grid;
	text-align: center;
	 grid-template-areas:
		'url'
		'logo'
		'main';

}

.url { grid-area: url; }
.logo { 
	grid-area: logo; 
}
.main { grid-area: main; }